<div class="inbox container-fluid">
    <h2>{{username}}'s Inbox</h2>
    <div class="row-fluid">
        <div class="span6">
            <input type="text" class="input-medium search-query" placeholder="Filter" id="query" ng-model="query" >
            <label for="sortBy">Sort By: </label><select id="sortBy" ng-model="sortBy" ng-options="field for field in sortFields"></select>
        </div>
    </div>
    <div class="header row-fluid">
        <div class="span1"></div>
        <div class="span4 from"><a ng-click="doSortBy('from')">From</a></div>
        <div class="span5 subject"><a ng-click="doSortBy('subject')">Subject</a></div>
        <div class="span2 date"><a ng-click="doSortBy('date')">Date</a></div>
    </div>
    <div class="row-fluid message {{message.status}}" id="message-{{message.id}}" ng-repeat="message in messages | filter:query | orderBy:sortBy">
        <div class="span1"><input type="checkbox" /></div>
        <div class="span4">{{message.from}}</div>
        <div class="span4"><a ng-click="openMessage(message)" href="#/inbox/{{message.id}}">{{message.subject}}</a></div>
        <div class="span2">{{message.date | date:'MMM d, y h:mm:ss a'}}</div>
    </div>
</div>