<div class="inbox container-fluid">
    <h2>{{username}}'s Inbox</h2>
    <div class="row-fluid">
        <div class="span6">
            <input type="text" class="input-medium search-query" placeholder="Filter" id="query" ng-model="query" >
            <label for="sortBy">Sort By: </label><select id="sortBy" ng-model="sortBy" ng-options="field for field in sortFields"></select>
        </div>
    </div>
    <table class="inbox table">
        <thead>
        <tr>
            <th class="span1"></th>
            <th class="span4 from"><a ng-click="doSortBy('from')">From</a></th>
            <th class="span4 subject"><a ng-click="doSortBy('subject')">Subject</a></th>
            <th class="span2 date"><a ng-click="doSortBy('date')">Date</a></th>
        </tr>
        </thead>
        <tbody>
        <tr class="message {{message.status}}" ng-repeat="message in messages | filter:query | orderBy:sortBy">
            <td class="span1"><input type="checkbox" /></td>
            <td class="span4">{{message.from}}</td>
            <td class="span4"><a ng-click="openMessage(message)" href="#/inbox/{{message.id}}">{{message.subject}}</a></td>
            <td class="span2">{{message.date | date:'MMM d, y h:mm:ss a'}}</td>
        </tr>
        </tbody>
    </table>
</div>