<!doctype html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Angular JS Brownbag</title>
        <link rel="stylesheet" href="css/app.css"/>
        <link rel="stylesheet" href="css/bootstrap.css"/>
    </head>
    <body ng-controller="InboxCtrl">
        <div class="container-fluid">
        <h2>{{username}}'s Inbox</h2>

        <div class="row-fluid">
            <div class="span6">
                <input type="text" class="input-medium search-query" placeholder="Filter" id="query" ng-model="query" >
                <label for="sortBy">Sort By: </label><select id="sortBy" ng-model="sortBy" ng-options="field for field in sortFields"></select>
            </div>
        </div>

        <table class="inbox table">
            <thead>
                <tr>
                    <th class="span1"></th>
                    <th class="span4 from"><a ng-click="doSortBy('from')">From</a></th>
                    <th class="span4 subject"><a ng-click="doSortBy('subject')">Subject</a></th>
                    <th class="span2 date"><a ng-click="doSortBy('date')">Date</a></th>
                </tr>
            </thead>
            <tbody>
                <tr class="message {{message.status}}" ng-repeat="message in messages | filter:query | orderBy:sortBy">
                    <td class="span1"><input type="checkbox" /></td>
                    <td class="span4">{{message.from}}</td>
                    <td ng-click="openMessage(message)" class="span4">{{message.subject}}</td>
                    <td class="span2">{{message.date | date:'MMM d, y h:mm:ss a'}}</td>
                </tr>
            </tbody>
        </table>
        </div>
        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
        -->
        <script src="lib/angular/angular.js"></script>
        <script src="lib/underscore/underscore-min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
    </body>
</html>
